<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <title>About Our website</title>
  <body>
    <div class="container" style="text-align: center">
      {% include 'navbar.html' %}

      <h1>This is our official website</h1>
      <p>
        ➡️React JS with Project : • 🔥 🔥 Complete React Js with Project tu...
        ➡️Learn JDBC in one video: • JDBC Crash Course in 1 hour | HINDI ➡️Learn
        Python in One Video: • Learn Python in One Video | HINDI | ➡️Learn HTML
        in one video: • Jquery in one video in hindi ➡️Learn HTML form in one
        video: • Jquery in one video in hindi ➡️Learn JavaScript in one videos:
        • Learn JavaScript in One Video | Hindi ➡️Learn Form Validation using
        javascript and jquery: • Form Validation using JQuery | JavaSc...
        ➡️Learn CSS in one video: • Jquery in one video in hindi ➡️Jquery in one
        video: • Jquery in one video in hindi Kotlin is one video: • Kotlin |
        Learn Kotlin in one video hindi ➡️Complete Python Project - Youtube
        downloader in one video: • Jquery in one video in hindi
      </p>
    </div>
  </body>
</html>
